#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
canvas {
  border: 2px solid black;
}

body
{
  text-align: center;
  background: #333333;
}

#page-wrap
{
     width: 800px;
     margin: 0 auto;
}
